::placeholder {
    color: #00408E !important;
}

/* Дополнительные стили для центрирования текстовых элементов */
.navbar {
    justify-content: space-between;
}

/* Дополнительные стили для выравнивания языкового блока справа */
.ml-auto {
    margin-left: auto !important;
}

.a_language {
    border-radius: 30%;
    color: white !important;
    background-color: #00408E;
    
}
.nav-item.dropdown .dropdown-toggle::after,
.nav-item.dropdown .dropdown-toggle::before {
    display: none;
}
@media (max-width: 991.98px) {
    .navbar-nav .nav-item .a_language {
        border-radius: 0;
    }
}
/* Переопределение дефолтного цвета текста */
.navbar-light .navbar-nav .nav-link {
    color: #00408E;
    /* Замените на нужный вам цвет */
    font-size: 24px;
    /* Увеличение размера текста */

}

/* Переопределение цвета текста в выпадающем меню */
.navbar-light .navbar-nav .dropdown-menu .dropdown-item {
    color: #00408E;
    /* Замените на нужный вам цвет */
}


* {
    color: #00408E !important;

}

/* Дополнительные стили для центрирования текстовых элементов */
.navbar {
    justify-content: space-between;
}

/* Дополнительные стили для выравнивания языкового блока справа */
.ml-auto {
    margin-left: auto !important;
}

.card {
    /* Other card styles */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

}

.zoom-card:hover {
    transform: scale(1.05);
    /* Increase the scale on hover */
}


.col {
    transition: transform 0.3s ease;
}

.zoom-card:hover {
    transform: scale(1.1);
    /* Increase the scale on hover */
}
/* Remove the bottom border (underline) from the RU language dropdown */
.a_language {
    text-decoration: none;
    border-bottom: none;
}

.a_language {
    border-radius: 30%;
    color: white !important;
    background-color: #00408E;

}

@media (max-width: 991.98px) {
    .navbar-nav .nav-item .a_language {
        border-radius: 0;
    }
}

/* Переопределение дефолтного цвета текста */
.navbar-light .navbar-nav .nav-link {
    color: #00408E;
    /* Замените на нужный вам цвет */
    font-size: 24px;
    /* Увеличение размера текста */

}

iframe {
    border: 4px solid #00408E;
    /* Blue border with 40px width */
    border-radius: 40px;
    /* Make the iframe round */
}
.category-button {
    position: relative;
    border: none; /* Remove the border */
    color: white !important;
    background-color: #00408E;
}

.category-button::before,
.category-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: white;
}

.category-button::before {
    left: 0;
}

.category-button::after {
    right: 0;
}



    .category-button {
        border-color: #00408E!important;
        color: white !important;
        border-left: 1px;
        border: none;
        
        color: white !important;
        background-color: #00408E;
        background-color: #00408E;
        background-color: transparent;
    }
    .card{
        border-radius: 20px;
    }

    .card-category {
        background-color: #00408E;
    }
    @media (max-width: 1130px) {
        .label-rayon {
            order: 2;
        }
    
        .label-spes {
            order: 1;
        }
    
        .filter-label {
            width: 80%;
            text-align: center;
            margin-bottom: 10px;
        }
    
        .filter-select {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    
    @media (max-width: 1200px) {
        .filter-select {
            max-width: 250px;
        }
    }
    
